version: "3.8"
services:
  web:
    # Auto references the Dockerfile
    build: .
    ports:
      - 3000:3000
    # Important to bind/mount your codebase dir to /app dir for live reload
    volumes:
      - ./:/app
    # Naming for visual reasons
    container_name: app
  postgres:
    image: postgres:15.3-alpine
    ports:
      - 5432:5432
    # Pulls env variables from .env files
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    # Named volume which keeps data persistent
    volumes:
      - postgres_data:/var/lib/postgresql/data

    # Naming for visual reasons
    container_name: database
  redis:
    image: redis:latest
    restart: always
    ports:
      - 6379:6379
    volumes:
      - /path/to/local/d–∞ta:/root/redis
      - /path/to/local/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DATABASES=16
    container_name: redis


# Define named volumes here
volumes:
  postgres_data: